.chatbox { composes: bg-light-2 h-100 flx from global; }
.online-users {
    overflow-y: auto;
    width: 270px;
}
.chat-wrapper { composes: flx flx-col flx-grow-1 from global; }
.chat-messages { 
    flex: 1;
    overflow-y: auto;

}
.chat-form {
    composes: flx flx-align-center from global;
    border-top: 2px dotted var(--dark-2);
    flex-basis: 52px;
}
.chat-input {
    composes: pokemon-font from global;
    color: var(--dark-1);
    border-color: var(--dark-2);
    background-color: var(--light-1);
    width: 100%;
    height: 32px;
    padding: 6px;
    outline: none;
    margin-left: 8px;
    margin-right: 8px;
}
.chat-input:focus {
    background-color: var(--screen);
}
.chat-submit {
    composes: pokemon-font from global;
    font-size: 0.8em;
    margin: 0 8px;
    padding: 0 16px;
    height: 32px;
    background-color: var(--dark-2);
    border-color: var(--dark-1);
    outline: none;
}
.chat-submit:hover {
    background-color: var(--dark-1);
    color: var(--light-2);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .chatbox { flex-direction: column; }
    .chat-messages { max-height: 280px; min-height: 80px; width: 100%; flex: unset; }
    .chat-avatar-wrapper { width: 28px; min-width: 28px; height: 28px; }
    .online-users { height: 140px; width: 100%; order: 2; }
    .chat-form {  }
}