div.online-user-wrapper {
    display: flex;
    align-items: center;
}

div.online-user-img-wrapper {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
}

img.online-user-img {
    width: 100%;
    height: 100%;
}

div.online-user-username {
    flex-grow: 1;
}