.game-screen {
    composes: w-100 h-100 from global;
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    font: 8px 'Pokemon';
    /* font-smooth: never; */
    /* /* -webkit-font-smoothing: never; */
    /* -moz-osx-font-smoothing: grayscale; */
}