.option-wrapper { 
    composes: h-100 from global;
    width: 216px;
}
.options-list { }
.option { composes: pokemon-font p-2 mb-1 cursor-pointer bg-light-2 from global; }
.option:hover {
    font-weight: bold;
}