.game-screen {
    composes: w-100 h-100 from global;
    position: absolute;
    top: 0;
    left: 0;
}

.game-canvas {
    composes: w-100 h-100 from global;
    image-rendering: pixelated;
}

.game-mobile-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}