.submenu-wrapper { 
    composes: p-2 w-100 h-100 from global; 
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--light-1)
}
.submenu-header {
    composes: pokemon-font from global;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-grey-2);
    border-bottom: 3px dashed var(--dark-grey-2);
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.exit-button {
    composes: pokemon-font from global;
    color: var(--dark-grey-2);
    border: none;
    background: none;
    cursor: pointer;
}
.content-container {
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.pokemon-wrapper {
    display: flex;
    align-items: center;
}
.pokemon-name {
    margin-left: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.logout-submenu {
    display: flex;
    align-items: center;
    flex-direction: column;
}