.option-wrapper { 
    composes: h-100 from global;
    width: 216px;
}
.options-list { }
.option { composes: pokemon-font p-2 mb-1 cursor-pointer bg-light-2 from global; }
.option:hover {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .option-wrapper { 
      /* width: 100%; */
      width: 100%;
      height: 240px !important;
      overflow-y: scroll;
    }

    .option-wrapper ul li {
        /* display: inline;
        flex-basis: 25%; */
    }
  }