.game-screen {
    composes: w-100 h-100 from global;
    position: absolute;
    top: 0;
    left: 0;
}

.game-canvas {
    composes: w-100 h-100 from global;
    image-rendering: pixelated;
    position: absolute;
    top: 0;
    left: 0;
}

.game-mobile-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.left-controls, .right-controls {
    position: absolute;
    width: 160px;
    height: 160px;
    margin: 3px;
    transform: scale(0.8);
}

.left-controls button, .right-controls button {
    outline: none;
}

.left-controls button:hover, .right-controls button:hover {
    opacity: 1;
}

.left-controls {
    left: 0;
    bottom: 0;
}

.left-controls * {
    width: 60px;
    height: 60px;
    opacity: 0.7;
    background: none;
    border: none;
}

/* Up */
.left-controls button:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Down */
.left-controls button:nth-of-type(2) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.left-controls button:nth-of-type(2) img {
    transform: rotate(180deg);
}

/* left */
.left-controls button:nth-of-type(3) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);    
}

.left-controls button:nth-of-type(3) img {
    transform: rotate(270deg);
}

/* right */
.left-controls button:nth-of-type(4) {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);}

.left-controls button:nth-of-type(4) img {
    transform: rotate(90deg);
}

.right-controls {
    right: 0;
    bottom: 0;
    transform: scale(0.8);
}

.game-action-buttons {
    width: 80px;
    height: 80px;
    border: none;
    background: none;
    opacity: 0.5;
    position: absolute;
}

.right-controls button:nth-of-type(1) {
    top: 0;
    right: 0;
}

.right-controls button:nth-of-type(2) {
    top: 70px;
    right: 80px;
}

@media screen and (max-width: 412px) {
    .right-controls, .left-controls {
        width: 120px;
        height: 120px;
    }
    .left-controls button {
        width: 52px;
        height: 52px;
    }
    .left-controls button img {
        width: 100%;
        height: 100%;
    }
    .right-controls button {
        width: 52px;
        height: 52px;
    }
    .right-controls button img {
        width: 100%;
        height: 100%;
    }
    .right-controls button:nth-of-type(2) {
        top: 40px;
        right: 50px;
    }
}