.actor-figure {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actor-canvas {
    image-rendering: pixelated;
    padding: 2px;
    width: 60px;
    height: 60px;
    opacity: 0.5;
}
.actor-canvas:hover {
    border: 2px solid rgba(0,0,0,0.25);
    background-color: #999;
    opacity: 0.75;
}
.actor-canvas[data-active="true"] {
    border: 2px solid rgba(0,0,0,0.75);
    background-color: #555;
    opacity: 1;
}