.login-page {
    composes: flx flx-center-all from global;
    height: 100vh;
    width: 100%;
}

.login-form-container {
    composes: p-3 from global;
    background-color: var(--light-grey);
    border-radius: 0 0 30px 0;
    box-shadow: 12px 6px 20px rgba(0,0,0,0.2);
}

.login-form {
    composes: flx flx-col flx-align-center from global;
    color: var(--red);
}

.login-form-inputs {
    composes: flx flx-col flx-align-center mb-5 from global;
    border: 12px solid var(--dark-grey);
    background-color: var(--screen);
}

.inputs {
    composes: inputs from global;
}

.start-button {
    composes: gameboy-start-button mb-3 from global;
}

.dont-have-account {
    composes: m-1 from global;
    font-size: 0.7em;
}