main.container { 
  display: grid;
  grid-template-areas: 
  "game options"
  "chat chat";
  grid-template-rows: 80% 1fr;
  grid-template-columns: 80% 1fr;
  grid-gap: 10px;
  height: 100vh;
  padding: 20px;
}
.game { grid-area: game; }
.option { grid-area: options; }
.chat { grid-area: chat; }