:root {
  --p1: 8px;
  --p2: 16px;
  --p3: 24px;
  --p4: 32px;
  --p5: 40px;
  
  --m1: 8px;
  --m2: 16px;
  --m3: 24px;
  --m4: 32px;
  --m5: 40px;
}

:root {
  --light-1: #ffffff;
  --light-2: #f7f6f3;
  --dark-1: #3d3c39;
  --dark-2: #9f9e9a;
  --accent: #4f7d83;

  --light-grey: #BFBFBF;
  --dark-grey: #7C7C7C;
  --dark-grey-2: #7C7C7C;
  --screen: #9BAA77;
  --red: #AF3F3F;
  --blue: #563D77;

  --m-large: 82px;

  --media-query-mobile: 768px;

  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Averia Serif Libre', 'Times New Roman', Serif;
}

@font-face {
  font-family:"Pokemon";
  src:url("/fonts/pokemon/pokemon_generation_1.eot?") 
  format("eot"),url("/fonts/pokemon/pokemon_generation_1.woff") 
  format("woff"),url("/fonts/pokemon/pokemon_generation_1.ttf") 
  format("truetype"),url("/fonts/pokemon/pokemon_generation_1.svg#Pokemon-Generation-1") 
  format("svg");
  font-weight:normal;
  font-style:normal;
}

* { box-sizing: border-box; }

.w-100 { width: 100% }
.h-100 { height: 100% }

.flx { display: flex }
.flx-row { flex-direction: row }
.flx-col { flex-direction: column }
.flx-grow-1 { flex-grow: 1 }
.flx-justify-between { justify-content: space-between }
.flx-justify-around { justify-content: space-around }
.flx-justify-center { justify-content: center }
.flx-align-center { align-items: center }
.flx-align-end { align-items: flex-end }
.flx-align-start { align-items: flex-start }
.flx-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-dark-1 { background-color: var(--dark-1); }
.bg-dark-2 { background-color: var(--dark-2); }
.bg-light-1 { background-color: var(--light-1); }
.bg-light-2 { background-color: var(--light-2); }

.pos-rel { position: relative}
.pos-abs-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-1 { padding: var(--p1) }
.p-2 { padding: var(--p2) }
.p-3 { padding: var(--p3) }
.p-4 { padding: var(--p4) }
.p-5 { padding: var(--p5) }

.pt-1 { padding-top: var(--p1) }
.pt-2 { padding-top: var(--p2) }
.pt-3 { padding-top: var(--p3) }
.pt-4 { padding-top: var(--p4) }
.pt-5 { padding-top: var(--p5) }

.pr-1 { padding-right: var(--p1) }
.pr-2 { padding-right: var(--p2) }
.pr-3 { padding-right: var(--p3) }
.pr-4 { padding-right: var(--p4) }
.pr-5 { padding-right: var(--p5) }

.pb-1 { padding-bottom: var(--p1) }
.pb-2 { padding-bottom: var(--p2) }
.pb-3 { padding-bottom: var(--p3) }
.pb-4 { padding-bottom: var(--p4) }
.pb-5 { padding-bottom: var(--p5) }

.pl-1 { padding-left: var(--p1) }
.pl-2 { padding-left: var(--p2) }
.pl-3 { padding-left: var(--p3) }
.pl-4 { padding-left: var(--p4) }
.pl-5 { padding-left: var(--p5) }

.m-1{ margin: var(--m1) }
.m-2{ margin: var(--m2) }
.m-3{ margin: var(--m3) }
.m-4{ margin: var(--m4) }
.m-5{ margin: var(--m5) }

.mt-1{ margin-top: var(--m1) }
.mt-2{ margin-top: var(--m2) }
.mt-3{ margin-top: var(--m3) }
.mt-4{ margin-top: var(--m4) }
.mt-5{ margin-top: var(--m5) }

.mr-1{ margin-right: var(--m1) }
.mr-2{ margin-right: var(--m2) }
.mr-3{ margin-right: var(--m3) }
.mr-4{ margin-right: var(--m4) }
.mr-5{ margin-right: var(--m5) }

.mb-1{ margin-bottom: var(--m1) }
.mb-2{ margin-bottom: var(--m2) }
.mb-3{ margin-bottom: var(--m3) }
.mb-4{ margin-bottom: var(--m4) }
.mb-5{ margin-bottom: var(--m5) }
.mb-lg{ margin-bottom: var(--m-large) }

.ml-1{ margin-left: var(--m1) }
.ml-2{ margin-left: var(--m2) }
.ml-3{ margin-left: var(--m3) }
.ml-4{ margin-left: var(--m4) }
.ml-5{ margin-left: var(--m5) }

.rounded-1, .rounded { border-radius: 2px }
.rounded-2 { border-radius: 4px }
.rounded-3 { border-radius: 8px }

.pokemon-font { font-family: Pokemon, arial; }

.gameboy-start-button {
  cursor: pointer;
  color: var(--blue);
  border: none;
  background: none;
  padding-top: 4px;
  text-transform: uppercase;
  transform: rotate(-10deg);
  letter-spacing: 1px;
  font-weight: bold;
}

.gameboy-start-button:before {
  content:""; 
  float:left; 
  background:var(--dark-grey-2); 
  width:100%; 
  height:8px; 
  border-radius: 3px;
  margin-bottom: 5px;
}

.gameboy-form-container {
  background-color: var(--light-grey);
  border-radius: 0 0 30px 0;
  box-shadow: 12px 6px 20px rgba(0,0,0,0.2);
  background-image: url('/images/gameboy-detail.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 90px;
}

.gameboy-form-inputs-wrapper {
  border: 12px solid var(--dark-grey);
  background-color: var(--screen);
}

/* .button {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 6px;
  text-decoration: none;
  font-family: var(--font-sans);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 0.8em;
  transition: all 300ms ease-in-out;
}
.button-light {
  background-color: var(--light-2);
  border-color: var(--dark-1);
  color: var(--dark-2);
}
.button-light:hover {
  background-color: var(--dark-2);
  color: var(--light-1) !important;
}
.button-dark {
  background-color: var(--dark-2);
  border-color: var(--dark-1);
  color: var(--light-2);
}
.button-dark:hover {
  background-color: var(--light-2);
  color: var(--dark-1) !important;
} */

.text-center { text-align: center }
.text-left { text-align: left }
.text-right { text-align: right }
.cursor-pointer { cursor: pointer; }

.inputs {
  padding: var(--p1);
  margin: 16px 24px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

main.container { 
  display: grid;
  grid-template-areas: 
  "game options"
  "chat chat";
  grid-template-rows: minmax(0, 1fr) auto;
  grid-template-columns: 640px 1fr;
  grid-gap: 10px;
  height: 100vh;
  padding: 20px;
  max-width: 1200px;
  max-height: 900px;
  min-height: 780px;
}

.game { 
  grid-area: game;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 90%;
  cursor: none;
}
.options { grid-area: options; }
.chat { grid-area: chat; }

@media screen and (max-width: 768px) {
  main.container { /* Options will be fulscreen over game on start button click */
    grid-template-areas:
    "game"
    "chat";
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    max-height: unset;
    min-height: unset;
    height: unset;
  }
  div.options { display: none; }
}