.online-user-wrapper { composes: flx flx-center flx-align-center m-2 from global; }
.online-user-img-wrapper {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
}
.online-user-img { composes: w-100 h-100 from global; }
.online-user-username { 
    composes: pokemon-font ml-2 flx-grow-1 from global;
    font-size: 0.8em;
}